SERVER_HOST=localhost
SERVER_PORT=4040
FILE_STORAGE_TYPE=local
FILE_STORAGE_PATH=/storage
S3_ENDPOINT=s3.localhost
S3_SECRET_KEY=secretKey
S3_ACCESS_KEY=accessKey
S3_BUCKET=gophkeeper
DATA_STORAGE_TYPE=inmemory
IN_MEMORY_DUMP_PATH=/values/inmemory-dump
DB_HOST=localhost
DB_PORT=5432
DB_USER=gophkeeper
DB_PASSWORD=gophkeeper
DB_NAME=gophkeeper
JWT_SECRET=11sb6GFNBhas86BjjndHJBROcxd4adrmc