# server config
SERVER_HOST=localhost
SERVER_PORT=4040

# DB config
DB_HOST=localhost
DB_PORT=5432
DB_USER=gophkeeper
DB_PASSWORD=gophkeeper
DB_NAME=gophkeeper
DB_SSL_MODE=disable

#jwt config
JWT_SECRET=11sb6GFNBhas86BjjndHJBROcxd4adrmc
JWT_TOKEN_LIFE_TIME=1
JWT_REFRESH_TOKEN_LIFE_TIME=24

#s3 config
S3_ENDPOINT=localhost:9000
S3_SECRET_KEY=minioadmin
S3_ACCESS_KEY=minioadmin
S3_BUCKET=gophkeeper
